@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url('./colors.css');
@import url('./box.css');
@import url('./typography.css');

html,
body {
    background-color: var(--color-background);
    color: var(--color-paragraph);
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 170%;
}